@{
    ViewBag.Title = "Home Page";
}

<img src="~/Utils/roadTrip.jpg" />

<style>
    img {
        height : auto;
        width : 100%;
    }


</style>
<div class="jumbotron">
    <h1>Rent A Ride</h1>
    <p class="lead">The new car rental application on the block</p>
    <p><a href="~/Chart.aspx" class="btn btn-primary btn-lg"> Charts&raquo;</a></p>
</div>

